


body {
    font-family: 'Montserrat-black',sans-serif;

}
#title {
    background-color: #ff4c68;
}

h1 {
    font-family: 'Montserrat-Black';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navigation bar */
.navbar {
    padding:0 0 2.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}



.nav-item {
    padding: 0 18px;
}

/* title */

/* download button */
.download-button {
    margin: 3% 5% 3% 0;
}

.dog-image-container {
    padding-left: 10%;
}

.dog-image{
    width: 17%;
    transform: rotate(25deg);
    position:absolute;
    

}


/*features*/
#features {
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
    
}

h3 {
    font-family: 'Montserrat-bold';
    padding: 3% 3%;
}

.feature_box {
    padding:5% 5%
}

p {
    color: #8f8f8f;
}

.feature_icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature_icon:hover {
    color:#ff4c68
}

/*testimonial*/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
    height: 40rem;
}
.carousel-item {
    padding: 4% 15%;
}
h2 {
    font-family: "Montserrat-Bold";
    font-size: 3.5rem;
    margin: 5% 5%;
    line-height: 1.5;
    
}
.testimonials-img {
    width: 10%;
    height: 10%;
    border-radius: 100%;
    margin: 3%;
}

/*press*/
#press {
    text-align: center;
    padding: 3% 7%;
    background-color: #ef8172;
}

.press-img {
    margin: 3% 3% 6% 3%;
    width: 15%
}


/* pricing */

#pricing{
    padding: 7% 15%;
    text-align: center;
}

.card-text{
    height:12rem;
    padding-top: 4%;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .dog-image {
        width: 30%;
        transform: rotate(0);
        position: relative;
    }
}

/* call to action */

#cta {
    text-align: center;
    background-color: #ff4c68;
    font-family: "Montserrat-Black";
    padding: 2% 15%;
}

.cta_words {
    font-size: 3rem;
    color: white;
    margin-bottom: 2%;
}

/* footer */
#footer {
    text-align: center;
    padding: 1% 15%;
}

.icons-each {
    padding: 2% 2% 
}